.html {
    filter: grayscale(100%);            /* 普通的CSS */
    -webkit-filter: grayscale(100%);    /* Webkit的CSS Chrome Opera 等*/
    -moz-filter: grayscale(100%);       /* Mozilla的CSS Firefox 等 */
    -ms-filter: grayscale(100%);        /* Microsoft的CSS IE Edge 等 */
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
}